#preview{
  color: blue;
  font-size: 20px;
  background-image: url('../images/modele-carte-de-visite-turquoise.jpg');
}
#displayCompany {
	position: relative;
	top: 20px;
	left: 50px;
}
#displayIdentity {
	position: relative;
	top: 175px;
	left: 200px;
}
#displayFirstName {
}
#displayLastName {
}
#displayProTitle {
	position: relative;
	top: 175px;
	left: 220px;
}
#displayAddress {
	position: relative;
	top: -20px;
	left: 50px;
	width: 200px;
}
#displayPhoneNumber {
	position: relative;
	top: -100px;
	left: 400px;
}
#displayEmail {
	position: relative;
	top: -80px;
	left: 250px;
}
#displayWebsite {
	position: relative;
	top: -20px;
	left: -250px;
}
