#businesscardlayout {
  font-family: "Verdana", serif;
  color: white;
  font-size: 20px;
  background-image: url(../../images/cardmodels/businesscards/j7x6bzko.png);
}
	#displayCompany {
		position: float;
		top: 40px;
		left: 50px;
	}
	#displayIdentity {
		position: float;
		top: 175px;
		left: 150px;
	}
		#displayFirstName {
  		font-size: 25px;
		}
		#displayLastName {
 		 font-size: 25px;
		}
	#displayProTitle {
		position: float;
 	 font-size: 18px;
		top: 175px;
		left: 220px;
	}
	#displayAddress {
		position: float;
 	 font-size: 15px;
		top: 275px;
		left: 50px;
		width: 225px;
	}
	#displayPhoneNumber {
		position: float;
  	font-size: 15px;
		top: 230px;
		left: 400px;
	}
	#displayEmail {
		position: relative;
 	 font-size: 15px;
		top: 250px;
		left: 200px;
	}
	#displayWebsite {
		position: float;
		top: -73px;
		left: 0px;
	}
