#businesscardlayout {
font-family: "Verdana", serif;
color: white;
font-size: 20px;
background-image: url(../../images/cardmodels/businesscards/j7x6bzko.png);
}

#displayCompany {
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 50px;
}

#displayIdentity {
  position: relative;
  top: 215px;
  left: 216px;
  display: inline-block;
}
	#displayFirstName {
		font-size: 25px;
	}
	#displayLastName {
        font-size: 25px;
        float: left;
        left: 104px;
        top: -36px;
        position: relative;
	}

#displayJob {
  position: absolute;
  top: 260px;
  left: 290px;
}

#displayAddress {
  top: 430px;
  position: absolute;
  left: 50px;
  font-size: 12px;
}

#displayPhoneNumber {
    position: relative;
    top: 334px;
    left: 543px;
    font-size: 17px;
}

#displayEmail {
  position: absolute;
  top: 430px;
  left: 515px;
  font-size: 12px;
}

#displayWebsite {
  position: absolute;
  top: 70px;
  left: 550px;
  color: #8b94ee;
}
