.right {
	width:320px;
	position: fixed;
	top: 185px;
	right: 500px;
	margin-right:20px;
}

#businesscardlayout {
	min-height:450px;
  max-height:450px;
  background-color:#e6e6df;
	padding:10px;
	border:1px solid #e6e6df;
	min-width: 700px;
  max-width: 700px;
  background-repeat: no-repeat;
	background-size: 100% 100%;
  position: relative;
}

#edit-field-address-0-value {
	max-width: 506px;
}
