#businesscardlayout {
  font-family: "Verdana", serif;
  color: white;
  font-size: 20px;
}

#displayCompany {
  display: inline-block;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 26px;
}

#displayIdentity {
  position: absolute;
  top: 80%;
  left: 10%;
  /*display: inline-block;*/
  font-size: 18px;
}
	#displayFirstName {
	}
	#displayLastName {
	}

#displayJob {
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 16px;
}

#displayAddress {
  top: 20%;
  position: absolute;
  right: 10%;
  font-size: 16px;
}

#displayPhoneNumber {
  position: absolute;
  top: 85%;
  left: 10%;
  font-size: 20px;
}

#displayEmail {
  position: absolute;
  top: 90%;
  left: 10%;
  font-size: 20px;
}

#displayWebsite {
  position: absolute;
  top: 15%;
  right: 10%;
}
