#businesscardlayout {
  font-family: "Verdana", serif;
  color: white;
  font-size: 20px;
}

#displayCompany {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 26px;
}

#displayIdentity {
  position: absolute;
  top: 50%;
  left: 32%;
  /* display: inline-block; */
  font-size: 18px;
}
	#displayFirstName, #displayLastName {
		font-size: 25px;
	}

#displayJob {
  position: absolute;
  top: 55%;
  left: 38%;
  font-size: 16px;
}

#displayAddress {
  top: 15%;
  position: absolute;
  left: 32%;
  font-size: 16px;
}

#displayPhoneNumber {
  position: absolute;
  top: 84%;
  right: 5%;
  font-size: 20px;
}

#displayEmail {
  position: absolute;
  top: 90%;
  right: 5%;
  font-size: 20px;
}

#displayWebsite {
  position: absolute;
  top: 10%;
  right: 5%;
}
