#businesscardlayout {
  font-family: "Times", serif;
  color: black;
  font-size: 20px;
}

#displayCompany {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 40px;
}

#displayIdentity {
  position: absolute;
  top: 17%;
  left: 10%;
  display: inline-block;
}
	#displayFirstName {
		font-size: 25px;
	}
	#displayLastName {
		 font-size: 25px;
	}

#displayJob {
  position: absolute;
  top: 22%;
  left: 10%;
}

#displayAddress {
  top: 27%;
  position: absolute;
  left: 10%;
  font-size: 16px;
}

#displayPhoneNumber {
  position: absolute;
  top: 31%;
  left: 10%;
  font-size: 16px;
}

#displayEmail {
  position: absolute;
  top: 90%;
  left: 10%;
  font-size: 18px;
}

#displayWebsite {
  position: absolute;
  top: 90%;
  right: 10%;
  font-size: 18px;
}
