#postalcardrectolayout {
  font-family: "Verdana", serif;
  color: white;
  font-size: 20px;
  background-image: url(../../images/cardmodels/postalcards/Nouvellecal.jpg);
}


#displayMot {
	position: absolute;
	font-size: 41px;
	top: 379px;
	left: 56px;
	color: #0f00ff;
}

#displayRecto {
	position: float;
	top: 175px;
	left: 150px;
}
#displayVerso {
	position: float;
	top: 175px;
	left: 150px;
}

#displayNouvelles {
	position: float;
	font-size: 18px;
	top: 175px;
	left: 220px;
	color: black;
}
#displayNom {
	position: float;
	font-size: 15px;
	top: 275px;
	left: 50px;
	width: 225px;
	color: black;
}
#displayPrenom {
	position: float;
	font-size: 15px;
	top: 230px;
	left: 400px;
	color: black;
}
#displayAddresse {
	position: relative;
	font-size: 15px;
	top: 250px;
	left: 200px;
	color: black;
}
