#postalcardrectolayout {
  font-family: "Verdana", serif;
  color: white;
  font-size: 20px;
  background-image: url(../../images/cardmodels/postalcards/Nouvellecal.jpg);
}

#displaynews {
	min-height:450px;
	max-height:450px;
	min-width: 300px;
	max-width: 300px;
}

#displayMot {
	position: absolute;
	font-size: 41px;
	top: 379px;
	left: 56px;
	color: #0f00ff;
	font-family: Brush Script Std, Brush Script MT, cursive;
}

#displayRecto {
	position: float;
	top: 175px;
	left: 150px;
}
#displayVerso {
	position: float;
	top: 175px;
	left: 150px;
}

#displayNouvelles {
	position: relative;
	font-size: 18px;
	top: 15px;
	left: 23px;
	color: black;
}
#displayNom {
	position: absolute;
	font-size: 15px;
	top: 313px;
	left: 1080px;
	color: black;
}
#displayPrenom {
	position: absolute;
	font-size: 15px;
	top: 292px;
	left: 1080px;
	color: black;
}
#displayAddresse {
	position: absolute;
	font-size: 15px;
	top: 351px;
	left: 1080px;
	color: black;
}
.incline{
	transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-webkit-transform: rotate(-6deg);
	-khtml-transform: rotate(8deg);
}

